@import '@styles/variables';

.container {
  display: flex;
  align-items: center;
  min-height: 40px;
  width: 100%;
  & > * {
    margin-left: 20px;
    // &:first-child {
    //   margin-left: 0;
    // }
  }
  &--justify-center {
    justify-content: center;
  }
  &--justify-left {
    justify-content: flex-start;
  }
  &--justify-right {
    justify-content: flex-end;
  }
  &--justify-space-between {
    justify-content: space-between;
  }
}
