@import '@styles/variables';

.nav {
  padding-top: 22px;
  &__links {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    justify-content: space-between;
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
    color: $primary;
  }
  .icon {
    font-size: 1rem;
    color: $secondary;
    padding-right: 5px;
  }

  ul {
    border-bottom: solid 3px #004290;
    padding-bottom: 8px;
    margin-bottom: 40px;
    padding-left: 0;
    li {
      padding-bottom: 8px;
    }
  }
}
